.about-container {
  background-color: rgba(29, 31, 31, 0.052);
  text-decoration: none;
  font-family: sans-serif;
  height: 100vh;
  padding-top: 100px;
}
.about-container img {
  float: right;
  width: 490px;
  height: 500px;
  margin-top: 100px;
  margin-right: 150px;
  box-shadow: 15px 15px 40px 0px rgb(150, 149, 149);
}
.about-container .text-content {
  margin-left: 100px;
  margin-right: 900px;
  padding-top: 100px;
}
.about-container .text-content h1 {
  color: rgb(91, 175, 6);
  font-size: 60px;
}
.about-container .text-content p {
  margin-top: 40px;
  color: rgb(99, 98, 98);
  font-size: 20px;
}

.btn-15 {
  color: #4aab00;
  z-index: 1;
}
.btn-15:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  direction: rtl;
  z-index: -1;
  background: #4aab00;
  transition: all 0.3s ease;
}
.btn-15:hover {
  color: white;
}
.btn-15:hover:after {
  left: auto;
  right: 0;
  width: 100%;
}
.btn-15:active {
  top: 2px;
}
